* {
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: montserrat;
  src: url(./Monserrat/Montserrat-ExtraLight.otf);
}

@font-face {
  font-family: opensans;
  src: url(./open-sans/OpenSans-Regular.ttf);
}

a {
  text-decoration: none;
}

.main {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.first-half, .second-half {
  width: 50%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.first-half p, .second-half p {
  padding: 30px 0px;
}

.first-half {
  background-color: #ffcc00;
}

.first-content {
  margin: auto;
  width: 70%;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.under-construction {
  font-family: montserrat;
  font-weight: bolder;
  font-size: 45pt;
}

.under-text {
  font-family: opensans;
  font-size: 12pt;
}

.email-div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.email {
  width: 50%;
  padding: 15px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: none;
  background-color: white;
  outline: none;
  font-family: opensans;
}

.submit {
  width: 25%;
  padding: 15px;
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #4d4d4d;
  color: #fff;
  font-family: opensans;
  outline: none;
}

.submit:hover {
  cursor: pointer;
}

.email-text {
  color: rgba(0, 0, 0, 0.616);
  font-family: opensans;
  font-size: 10pt;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15%;
}

.stay-intouch {
  padding: 0px;
  font-family: opensans;
  font-size: 10pt;
  font-weight: bold;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 3%;
  width: 30%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.icon1, .icon2, .icon3 {
  margin: auto;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon1 {
  background-image: url(./img/sicons_0000_Layer-2.png);
}

.icon2 {
  background-image: url(./img/sicons_0001_Layer-3.png);
}

.icon3 {
  background-image: url(./img/sicons_0002_Layer-1.png);
}

.second-half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.construction-img {
  margin: auto;
  width: 100%;
  height: 100vh;
  background-image: url(./img/img.jpg);
  background-repeat: no-repeat;
  background-size: fill;
  background-position: center;
}

@media screen and (max-width: 1040px) {
  .under-construction {
    font-size: 40pt;
  }
  .under-text {
    font-size: 11pt;
  }
  .submit {
    font-size: 9pt;
  }
  .email-text {
    font-size: 8pt;
  }
}

@media screen and (max-width: 1024px) {
  .second-half {
    display: none;
  }
  .first-half {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .first-content {
    width: 90%;
  }
  .under-construction {
    font-size: 30pt;
  }
  .under-text {
    font-size: 8pt;
  }
  .submit {
    font-size: 7pt;
  }
  .email-text {
    font-size: 7pt;
  }
  .email {
    font-size: 7pt;
  }
}

@media screen and (max-width: 300px) {
  .stay-intouch {
    margin-left: 2%;
  }
}
/*# sourceMappingURL=styles.css.map */
